.btn-primary {
    margin-left: 50px;
}

body {
    background-color: #f7f7f7;
    color: white;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(214, 214, 214) 50%, rgba(214, 214, 214) 50%);
    cursor: pointer;
    margin-right: 70px;
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#action {

    position: relative;
    height: 600px;
    width: 100%;
    justify-content: center;
    top: 15px;
    display: inline-flex;
    z-index: 55;
    transform: rotateX(180deg);
}

.bar0 {
    background-color: red;
    margin: 2px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bar1 {
    background-color: #F25D50;
    margin: 2px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bar2 {
    background-color: blue;
    margin: 2px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bar3 {
    background-color: #F25D50;
    margin: 2px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
}