.btn-primary {
    margin-left: 10px;
    margin-top: 10px;
}

#hlp {
    padding: 0;
    border-radius: 2px;
    background: red;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 560px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.credits {
    position: relative;
    background-color: #0B2126;
    color: #f7f7f7;
    height: 35px;
    width: 100%;
}

#h4 {
    padding-top: 6px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-brand {
    margin-top: 10px;
}

.label {
    color: #f7f7f7;
}

body {
    background: #f7f7f7;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#myRange {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(214, 214, 214) 50%, rgba(214, 214, 214) 50%);
    cursor: pointer;
    margin-right: 70px;
}

#speed {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 70px;
    background: linear-gradient(90deg, rgb(117, 252, 117), rgb(255, 0, 0));
}

#speed:hover {
    opacity: 1;
}

#myRange:hover {
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#view {
    color: #f7f7f7;
    display: flex;
    position: relative;
    top: 10px;
    left: 150px;
    font-size: 20px;
    font-weight: 1px;
    font-family: reross-quadratic, sans-serif;
}

#action {

    position: relative;
    margin: 15px;
    height: 595px;
    width: 98%;
    justify-content: center;
    top: 15px;
    display: inline-flex;
    z-index: 55;
    transform: rotateX(180deg);
}

.bar {
    background-color: #F25D50;
    margin: 2px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rnum {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    transform: rotateX(180deg);
}




/* logo css */
.logo {
    font-family: reross-quadratic,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: whitesmoke;
    font-weight: bold;
    display: inline-flex;
    margin: 0;
    padding: 5px;
    width: 270px;
}

.logo .hide,
.hide1 {

    display: inline-flex;
    overflow: hidden;
    color: inherit;
    font-family: inherit;
    transition: 1s;
}

.hide {
    width: 0;
}

.hide1 {
    max-width: 0;
}

.logo:hover .hide {
    overflow: hidden;
    position: relative;
    transition: 1s;
    width: 50px;
}


.logo:hover .hide1 {
    position: relative;
    max-width: 80px;
    transition: max-width 1s;
}

.logo:hover {
    transition: 0.1s;
}